<h1>Livraria API</h1>
Sistema de registro de clientes seguindo o padrão API Rest.

<h2>Rotas</h2>

<!-- LIVROS--->

<details>
<summary>
<span style=font-size:20px;color:white;>
    <b>Livros</b>
</span>
</summary>

<ul>
<li><p>Listar todos os livros: <b>http://localhost:3000/livros</b></p>
<details>
<summary>Modelo JSON</summary>
<pre><code>
{
    "livros": [
        {
            "id": 1,
            "nome": "André",
            "sobrenome": "Silva",
            "cpf": 31673948030
            "email": "AndréBac4no9@gmail.com",
            "telefone": 9836447972
        },
        {
            "id": 2,
            "nome": "João",
            "sobrenome": "Carlos",
            "cpf": 32648918086
            "email": "Joao99Carlos99@gmail.com",
            "telefone": 6627644471
        },
        {
            "id": 3,
            "nome": "Maria",
            "sobrenome": "Brito",
            "cpf": 09325858096
            "email": "mariaaAAA20@gmail.com",
            "telefone": 6698645272
        }
    ]
}
</code></pre>
</details>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|1|André|Silva|31673948030|AndréBac4no9@gmail<span>.com</span>|9836447972
|2|João|Carlos|32648918086|Joao99Carlos99@gmail<span>.com</span>|6627644471
|3|Maria|Brito|09325858096|mariaaAAA20@gmail<span>.com</span>|6698645272

</li>

---

<li><p>Listar cliente por ID: <b>http://localhost:3000/livros/id/2</b></p>
<details>
<summary>Modelo JSON</summary>
<pre><code>
{
    "livros": [
        {
            "id": 2,
            "nome": "João",
            "sobrenome": "Carlos",
            "cpf": 32648918086
            "email": "Joao99Carlos99@gmail.com",
            "telefone": 6627644471
        }
    ]
}
</pre></code>
</details>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|2|João|Carlos|32648918086|Joao99Carlos99@gmail<span>.com</span>|6627644471

</li>

---

<li>
<p>Inserir cliente: <b>http://localhost:3000/livros/add</b></p>
<details>
<summary>Modelo JSON</summary>
<pre><code>
{
    "nome": "Lucas",
    "sobrenome": "Almeida",
    "cpf": 41320808034
    "email": "profLucasAl@gmail.com",
    "telefone": 8327378874
}
</code></pre>
</details>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|4|Lucas|Almeida|41320808034|profLucasAl@gmail<span>.com</span>|8327378874


> Cliente "Lucas Almeida" adicionado com sucesso.

</li>

---

<li>
<p>Apagar cliente por id: <b>http://localhost:3000/livros/delete/2</b></p>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|<del>2|<del>João|<del>Carlos|<del>32648918086|<del>Joao99Carlos99@gmail<span>.com</span>|<del>6627644471

> "Id "2" removido do banco de dados."

</li>

---

<li>
<p>Atualizar usuário por id: <b>http://localhost:3000/livros/update/1</b></p>
<details>
<pre><code>
{
    "sobrenome": "Silveira",
    "email": "AndréSilveira@gmail.com",
}
</code></pre>
<summary>Modelo JSON</summary>
</details>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|1|André|<b>Silveira</b>|31673948030|<b>AndréSilveira@gmail<span>.com</span></b>|9836447972

> Id "1" atualizado.
</li>
</details>

<!-- CLIENTES--->
<details>
<summary>
<span style=font-size:20px;color:white;>
    <b>Clientes</b>
</span>
</summary>

<ul>
<li><p>Listar todos os clientes: <b>http://localhost:3000/clientes</b></p>
<details>
<summary>Modelo JSON</summary>
<pre><code>
{
    "clientes": [
        {
            "id": 1,
            "nome": "André",
            "sobrenome": "Silva",
            "cpf": 31673948030
            "email": "AndréBac4no9@gmail.com",
            "telefone": 9836447972
        },
        {
            "id": 2,
            "nome": "João",
            "sobrenome": "Carlos",
            "cpf": 32648918086
            "email": "Joao99Carlos99@gmail.com",
            "telefone": 6627644471
        },
        {
            "id": 3,
            "nome": "Maria",
            "sobrenome": "Brito",
            "cpf": 09325858096
            "email": "mariaaAAA20@gmail.com",
            "telefone": 6698645272
        }
    ]
}
</code></pre>
</details>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|1|André|Silva|31673948030|AndréBac4no9@gmail<span>.com</span>|9836447972
|2|João|Carlos|32648918086|Joao99Carlos99@gmail<span>.com</span>|6627644471
|3|Maria|Brito|09325858096|mariaaAAA20@gmail<span>.com</span>|6698645272

</li>

---

<li><p>Listar cliente por ID: <b>http://localhost:3000/clientes/id/2</b></p>
<details>
<summary>Modelo JSON</summary>
<pre><code>
{
    "clientes": [
        {
            "id": 2,
            "nome": "João",
            "sobrenome": "Carlos",
            "cpf": 32648918086
            "email": "Joao99Carlos99@gmail.com",
            "telefone": 6627644471
        }
    ]
}
</pre></code>
</details>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|2|João|Carlos|32648918086|Joao99Carlos99@gmail<span>.com</span>|6627644471

</li>

---

<li>
<p>Inserir cliente: <b>http://localhost:3000/clientes/add</b></p>
<details>
<summary>Modelo JSON</summary>
<pre><code>
{
    "nome": "Lucas",
    "sobrenome": "Almeida",
    "cpf": 41320808034
    "email": "profLucasAl@gmail.com",
    "telefone": 8327378874
}
</code></pre>
</details>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|4|Lucas|Almeida|41320808034|profLucasAl@gmail<span>.com</span>|8327378874


> Cliente "Lucas Almeida" adicionado com sucesso.

</li>

---

<li>
<p>Apagar cliente por id: <b>http://localhost:3000/clientes/delete/2</b></p>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|<del>2|<del>João|<del>Carlos|<del>32648918086|<del>Joao99Carlos99@gmail<span>.com</span>|<del>6627644471

> "Id "2" removido do banco de dados."

</li>

---

<li>
<p>Atualizar usuário por id: <b>http://localhost:3000/clientes/update/1</b></p>
<details>
<pre><code>
{
    "sobrenome": "Silveira",
    "email": "AndréSilveira@gmail.com",
}
</code></pre>
<summary>Modelo JSON</summary>
</details>

|id|nome|sobrenome|cpf|email|telefone|
|---|---|---|---|---|---|
|1|André|<b>Silveira</b>|31673948030|<b>AndréSilveira@gmail<span>.com</span></b>|9836447972

> Id "1" atualizado.
</li>
</details>

<!-- ALUGUEIS--->
